.musicbar {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--light-gray-color);
  display: flex;
  flex-direction: column;
  &__closebutton {
    cursor: pointer;
    display: grid;
    place-content: center;
    border: none;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background-color: transparent;
  }
  &__sectiontitle {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    color: white;
    span {
      color: var(--primary-blue-color);
    }
  }
  &__current {
    padding: 1.5rem;
    margin-bottom: 2.25rem;
    &__info {
      margin-top: 2.5rem;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__image {
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
        margin-bottom: 1rem;
        overflow: hidden;
        border-radius: var(--default-border-radius);
        width: 12rem;
        height: 12rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
      h1 {
        font-size: 1.4rem;
        color: white;
      }
      span {
        color: var(--gray-color);
      }
    }
    &__controls {
      display: flex;
      flex-direction: column;
      &__buttons {
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        &__iconbutton {
          background-color: transparent;
          border: none;
          &:first-child {
            margin-right: 0.5rem;
          }
          &:last-child {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
  hr {
    border: none;
    border-top: 1px solid var(--border-color);
  }
  &__queue {
    padding: 1.5rem;
    &__emptymessage {
      color: var(--input-text-color);
    }
  }
  &__playlist {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .musicbar {
    flex: 4;
    border-left: 1px solid var(--border-color);
    position: relative;
    top: unset;
    left: unset;
    width: unset;
    height: unset;
    &__closebutton {
      display: none;
    }
  }
}
