.song {
  display: flex;
  flex-direction: column;
  width: 10rem;
  &__image {
    position: relative;
    width: 10rem;
    height: 10rem;
    img {
      border-radius: 1rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__hover {
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.5s;
      border-radius: 1rem;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: grid;
      place-content: center;
      background-color: #0066ff8a;
      img {
        width: 2.5rem;
        height: 2.5rem;
      }
      span {
        text-align: center;
      }
    }
  }
  &__title {
    margin: 0.25rem 0;
    text-decoration: none;
    font-weight: bold;
    color: var(--dark-primary-blue-color);
  }
  &:hover {
    .song__image {
      .song__image__hover {
        opacity: 1;
      }
    }
  }
}
