.sectiontitle {
  font-size: 1.75rem;
  color: var(--dark-primary-blue-color);
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .sectiontitle {
    margin-left: 1rem;
    margin-top: 1rem;
  }
}
