.homepage {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &__sectiontitle {
    margin-top: 1rem;
  }
  &__sectiontitle:first-child {
    margin-top: 0;
  }

  &__carousel {
    display: flex;
    overflow-x: scroll;
    padding: 0.5rem 0;

    &::-webkit-scrollbar {
      width: 1rem;
      height: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background: var(--dark-primary-blue-color);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--primary-blue-color);
    }
  }
}
