.homepage {
  display: flex;
  flex-direction: column;

  &__sectiontitle {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }

  &__carousel {
    display: flex;
    overflow-x: scroll;
    padding: 0.5rem;

    &::-webkit-scrollbar {
      width: 1rem;
      height: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background: var(--dark-primary-blue-color);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--primary-blue-color);
    }
  }
}
@media screen and (min-width: 768px) {
  .homepage {
    &__sectiontitle {
      margin-left: 1rem;
      margin-top: 1rem;
    }
    &__carousel {
      padding: 1rem;
    }
  }
}
