:root {
  --background-color: #313335;
  --light-gray-color: #51565b;
  --gray-color: #bababa;
  --border-color: #fff;
  --button-border-radius: 1.25rem;
  --primary-blue-color: #00a3ff;
  --input-text-color: #c1ceda;
  --error-color: #c04545;
  --default-border-radius: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
#root {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
button,
input {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-blue-color);
}
