.queuepage {
  display: flex;
  flex-direction: column;
  &__container {
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0.5rem 0.5rem 0.5rem;
    &__title {
      color: var(--dark-gray-color);
      font-weight: bold;
      padding-bottom: 0.25rem;
    }
  }
  &--margin {
    margin: 0.25rem 0.5rem 0.5rem 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .queuepage {
    &__container {
      margin: 0.5rem 1rem 1rem 1rem;
    }
    &--margin {
      margin: 0.5rem 1rem 1rem 1rem;
    }
  }
}
