.layout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  &__main {
    flex-grow: 1;
  }
  &__menubutton {
    top: 0.5rem;
    right: 0.5rem;
    position: absolute;
    width: min-content;
    display: grid;
    background-color: transparent;
    border: none;
  }
}
