.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: none;
  flex-direction: column;
  height: 100vh;
  z-index: 999;
  &__container {
    border-right: 1px solid var(--border-color);
    width: min-content;
    height: 100%;
    background-color: var(--light-gray-color);
    display: flex;
    flex-direction: column;
    &__links {
      padding: 1.5rem;
      display: grid;
      place-content: center;
      &__link {
        display: grid;
      }
    }
    &__playlists {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-grow: 1;
      padding: 1.5rem 0;
      &__link {
        overflow: hidden;
        display: grid;
        place-content: center;
        border-radius: 50%;
        background-color: var(--input-text-color);
        margin-bottom: 0.5rem;
        width: 2.75rem;
        height: 2.75rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &__settings {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0.5rem;
      &__volume {
        display: none;
      }
      &__avatar {
        display: grid;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    hr {
      border: none;
      border-top: 1px solid var(--border-color);
    }
  }
  &--open {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    width: min-content;
    position: relative;
    display: flex;
    &__container {
      width: 100%;
      &__settings {
        &__volume {
          position: relative;
          margin-bottom: 0.5rem;
          display: flex;
          background-color: transparent;
          border: none;
          &:hover &__progressbar {
            left: 100%;
            padding: 0.75rem;
            border-radius: var(--default-border-radius);
            border: 1px solid var(--border-color);
            background-color: var(--light-gray-color);
            display: flex;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 10rem;
          }
          &__progressbar {
            display: none;
          }
        }
      }
    }
  }
}
